{% extends 'common/base.html' %}
{% block title %}{{ object }}{% endblock %}

{% block body %}
    <div class="container pt-3">
        <h1>{{ object }}</h1>
        USMA ID:
        {% if object.usma_id %}
            <span class="font-weight-bold">{{ object.usma_id }}</span>
            <a href="https://ranking.cvgo.re/ranking/player/{{ object.usma_id }}"
               target="_blank">
                (ranking)
            </a>
        {% else %}
            <span class="font-italic">None</span>
        {% endif %}
        <br>
        Discord ID:
        {% if object.discord_id %}
            <span class="font-weight-bold">{{ object.discord_id }}</span>
        {% else %}
            <span class="font-italic">None</span>
        {% endif %}
        <hr/>
        <h2>Badges</h2>
        {% spaceless %}
            <div style="max-width: 318px; padding:2px;" class="border rounded
             d-inline-block">
                {% for badge in object.badge_set.all %}
                    <div style="width:48px; height: 48px; margin: 2px;"
                         class="d-inline-block text-center">
                        <a href="{{ badge.get_absolute_url }}">
                            <img src="{{ badge.image.url }}" class="kcc-badge"
                                 title="{{ badge.title }}"
                            />
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endspaceless %}
    </div>
{% endblock %}
