celery==5.3.4
Django==4.2.6
django-celery-beat==2.5.0
django-hosts==5.2
djangorestframework==3.14.0
gunicorn==21.2.0
Pillow==10.0.1
psycopg2-binary==2.9.9
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
