{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}{{ object.yaku.0 }} by {{ object.winner }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/yakumans.css' %}">
{% endblock %}


{% block body %}
    <div class="container pt-3 text-center">
        <div class="row justify-content-md-center pb-4">
            <div class="col col-lg-6 col-md-6 col-sm-12">
                <img src="{{ object.picture.url }}" class="img-fluid rounded"/>
            </div>
        </div>

        {% for yaku in object.yaku %}
            <h2 class="yakuman-primary">{{ yaku.name }}</h2>
            <h3 class="yakuman-secondary text-muted">{{ yaku.japanese_name }}</h3>
        {% endfor %}

        <h3>
            {% if object.is_tsumo %}
                <span class="badge badge-pill badge-success" title="Tsumo">
                    ツモ
                </span>
            {% else %}
                <span class="badge badge-pill badge-danger" title="Ron">
                    ロン
                </span>
            {% endif %}
        </h3>

        <p class="yakuman-winner">
            {{ object.winner }}<br>
        </p>
        <p class="yakuman-date">
            {{ object.timestamp|date:"Y年m月d日" }}
        </p>
        <p class="yakuman-deal-in text-muted">
            Dealt-in: {{ object.loser }}
        </p>

        {% if object.comment %}
            <hr>
            <p class="lead">
                {{ object.comment }}
            </p>
        {% endif %}
    </div>
{% endblock %}
