{% extends 'common/base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block body %}
    <div class="container pt-3">
        <div class="media">
            <img src="{{ object.image.url }}" class="mr-3 img-thumbnail"
                 style="max-width: 58px; max-height: 58px"/>
            <div class="media-body">
                <h1 class="mt-0">{{ object.title }}</h1>
                {{ object.description }}
            </div>
        </div>
        <hr/>
        <h2>Owned by</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Nickname</th>
            </tr>
            </thead>
            <tbody>
            {% for player in object.players.all %}
                <tr>
                    <td><a href="{{ player.get_absolute_url }}">
                        {{ player.first_name|default:"–" }}
                    </a></td>
                    <td><a href="{{ player.get_absolute_url }}">
                        {{ player.last_name|default:"–" }}
                    </a></td>
                    <td><a href="{{ player.get_absolute_url }}">
                        {{ player.nickname|default:"–" }}
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
