{% extends 'common/base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% block body %}
    <div class="container pt-3">
        <div class="media">
            <img src="{{ object.image.url }}" class="mr-3 img-thumbnail"
                 style="max-width: 58px; max-height: 58px"/>
            <div class="media-body">
                <h1 class="mt-0">{{ object.title }}</h1>
                {{ object.description }}
            </div>
        </div>
        <hr/>
        <h2>Owned by</h2>
        {% include 'players/player_table.html' with players=object.players.all %}
    </div>
{% endblock %}
